body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
header {
    background-color: #000000;
    align-items: center;
    padding: 20px;
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    color: white;
}
.nav-links li {
    margin: 10px;
}
.nav-links a {
    color: white;
    text-decoration: none;
}
.link1 {
    font-weight: bold;
    letter-spacing: 1px;
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 0px;
    cursor: pointer;
    margin-right: 80px;
}
.nav-right a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 25px;
}
.request {
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    border: 0.1px solid white;
}
.nav-right a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sign-in {
    background-color: #4C5FD5;
    padding: 10px 40px;
    border-radius: 8px;
    border: none;
    
}

.search-section {
    text-align: center;
    background-color: #e4e4f9;
    padding: 50px 20px;
    height: 250px;
}
.search-section h1 {
    margin-bottom: 40px;
}
.head {
    position:relative;
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
    padding: 0;
    margin: 20px auto
}
.search-box {
    display: inline-flex;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 50px;
}
.search-box input {
    border: none;
    padding: 15px 20px;
    font-size: 1rem;
    outline: none;
    width: 300px;
}
.search-box button {
    background-color: white;
    border: none;
    padding: 0 20px;
    cursor: pointer;
    font-size: 1.2rem;
    border-left: 1px solid #ccc;
    transition: background 0.3s;
}
.section-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.content-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px 400px;
    padding: 60px 10px;
}
.box {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 500px;
}
.box img {
    max-width: 150px;
    height: auto;
    margin-right: 20px;
}
.middle {
    margin-bottom: 100px;
}
.footer {
    background-color: black;
    margin-top: 10px;
    color: white;
    display: flex;
    align-items: center;
    
}
.abstract, .resources, .community, .company {
    display: block;
    align-items: center;
    max-width: 500px;
    margin-top: 50px;
    flex: 1;
    min-width: 150px;
}
.text-footer h3 {
    font-size: x-large;
    margin: 0;
    font-weight: bold;
}
.text-footer  a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: block;
    text-align: left;
    margin-top: 10px;
}
.text-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    padding: 60px 100px;
    box-sizing: border-box;
}
.footer-end {
    display: flex;
    flex-direction: column;
    
}

